
.titreAccueil{
  text-align: center;
  margin-bottom: 2vw;
  margin-top: 2vw;
}

#menuAccueil{
  width : 50vw;
  text-align: center;
  margin-left: 25vw;
  margin-bottom: 2vw;
}

#menuAccueil form{
  width:47%;
  margin:10px;
  display: inline-block;
}

#menuAccueil form input{
  width:100%;
  height:40px;
}

#articles{
  width: 25vw;
  text-align: center;
  align-items: center;
  margin-left: 37.5vw;
}

#articles input{
  height:40px;
  width: 100%;
}

.titreArticle{
  margin-left:1vw;
}

.article{
  width:40vw;
  background-color: red;
}
