
.titre{
  text-align: center;
  margin: 2vw 0 2vw 0;
  color: #003167;
}

#menuAccueil{
  width : 50vw;
  text-align: center;
  margin-left: 25vw;
  margin-bottom: 2vw;
}

#menuAccueil form{
  width:47%;
  margin:10px;
  display: inline-block;
}

#menuAccueil form input{
  width:100%;
  height:40px;
}

#articles{
  width: 25vw;
  text-align: center;
  align-items: center;
  margin-left: 37.5vw;
  margin-top: 5vw;
}

#articles input{
  height:40px;
  width: 100%;
}

.menu{
  width:100vw;
  height:2vw;
  border-bottom:1px solid #3880dc;
  margin:0;
  padding:0;
  background-color: #639fec;
}

li a {
  display: block;
  color:black;
  height:100%;
  width:100%;
  line-height:2vw;
  text-decoration: none;
}

li{
  text-align: center;
  align-items: center;
  width:10%;
  border-right: 1px solid #3880dc;
  height:100%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:100%;
  display: flex;
  border-collapse: collapse;
}

.titreArticle{
  margin-left:1vw;
  text-align: center;
  text-decoration:underline;
  color:  #60686a;
}

.contenuArticle{
  width:96%;
  text-align: justify;
  font-size: 15px;
  padding:0.5vw;
}

.dateArticle{
  width : 98%;
  font-size: 14px;
  text-align:right;
  font-style : italic;
}

#articlesPresentation .article{
  width:46%;
  border : 1px dotted #2577d3;
  margin:1vw;

}

#articlesPresentation{
  display: flex;
  flex-flow: wrap;
  width:70vw;
  margin:auto;
}

body{
  margin:0;
  background-color: #e1e1e1;
}

.lienReponses a{
  text-decoration: none;
  margin-left:0.5vw;
  color: #509bef;
}

#pseudo{
  margin-top: 1vw;
  width:98vw;
  text-align: right;
}

form{
  width:20vw;
  margin:auto;
}

form div{
  width:20vw;
  display:flex;
  justify-content: space-between;
}

.submit{
  width:7vw;
  margin: auto;
  margin-top: 1.5vw;
}

.reponse{
  width:40vw;
  height:10vw;
  border:1px solid #2577d3;
  margin : 2vw;
  margin:0,5vw;
}

#espaceCommentaire{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.contenuReponse{
  text-align: justify;
  margin:0.5vw;
  width:96%;
}

.lienReponses a{
  text-decoration: none;
  float: left;
}

.titreReponse{
  width:100%;
  margin:0.5vw;
  color:  #60686a;
}

.articleBlog{
  width:60vw;
  margin: auto;
}

textarea{
  width:21vw;
  margin-left: auto;
}

#titre{
  margin-left: 1.5vw;
  width:92%;
}
