.titreArticle{
  margin-left:1vw;
  text-align: center;
  font-size: 30px;
  color:  #60686a;
}

.contenuArticle{
  width:96%;
  text-align: justify;
  font-size: 20px;
  padding:0.5vw;
}

.dateArticle{
  width : 98%;
  font-size: 22px;
  text-align:right;
}

#articlesPresentation .article{
  margin-left: 20vw;
  width:60%;
}

#articlesPresentation{
  width:100vw;
}

.reponse{
  width:40vw;
  height:9vw;
  border:1px solid #2479cf;
  margin : 2vw;
  margin:0,5vw;
}

#espaceCommentaire{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}

.contenuReponse{
  text-align: justify;
  margin:0.5vw;
  width:96%;
}

.lienReponses a{
  text-decoration: none;
  color : #3880dc;
}

.menu{
  width:100vw;
  height:2vw;
  border-bottom:1px solid #3880dc;
  margin:0;
  padding:0;
  background-color: #639fec;
}

li a {
  display: block;
  color:black;
  height:100%;
  width:100%;
  line-height:2vw;
  text-decoration: none;
}

li{
  text-align: center;
  align-items: center;
  width:10%;
  height:100%;
  border-right: 1px solid #3880dc;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 2px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height:100%;
  display: flex;
  border-collapse: collapse;

}

body{
  margin:0;
}

.titreReponse{
  width:100%;
  margin:0.5vw;
  color:  #60686a;
}
